@font-face {
    font-family: 'Popp';
    src: url('../fonts/Poppins-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Popp';
    src: url('../fonts/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Popp';
    src: url('../fonts/Poppins-Regular.ttf');
    font-weight: 400;
}