@import url(fonts.css);

$main-color: #FF9534;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

header {
    nav {
        background: white;
        box-shadow: 0px 0px 4px 0px #00000040;
        position: fixed;
        right: 0;
        width: 100%;
        z-index: 1000;
        top: 10px;

        .nav__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;


            @media (max-width: 1434px) {
                margin-right: 20px;
                margin-left: 20px;
            }

            .nav__menu {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 50px;

                @media (max-width:1042px) {
                    position: fixed;
                    right: -100%;
                    flex-direction: column;
                    background: #F2F2F2;
                    top: 80px;
                    text-align: center;
                    transition: .3s linear;
                    padding-top: 50px;
                    z-index: 2;
                    width: 100%;
                    padding-bottom: 50px;
                    height: 100%;

                    &.active {
                        right: 0;
                    }
                }

                li {
                    list-style: none;

                    a {
                        color: black;
                        font-size: 18px;
                        font-weight: 400;
                        font-family: Popp;
                        text-decoration: none;

                        &:hover {
                            color: $main-color;
                            transition: .2s linear;
                        }

                        &.active {
                            color: $main-color;
                        }
                    }
                }
            }

            .nav__info {
                display: flex;
                justify-content: center;
                align-items: center;

                .dropdown {
                    position: relative;
                    display: inline-block;
                    margin-right: 30px;

                    .dropbtn {
                        padding: 10px;
                        font-size: 20px;
                        border: none;
                        cursor: pointer;
                        background: none;
                        color: rgb(0, 0, 0);
                        font-family: 'Popp';
                        font-weight: 400;
                        transition: all .2s linear;
                    }

                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: #f9f9f9;
                        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                        z-index: 1;

                        i {
                            display: none;
                        }

                        a {
                            color: black;
                            padding: 12px 21px;
                            text-decoration: none;
                            display: block;
                            font-family: 'Popp';
                            font-weight: 400;

                            &:hover {
                                background-color: #f1f1f1;
                            }
                        }
                    }
                }

                .burger {
                    display: none;
                    cursor: pointer;
                    border: none;

                    @media (max-width:1042px) {
                        display: block;
                    }

                    .bar {
                        display: block;
                        width: 25px;
                        height: 3px;
                        margin: 5px auto;
                        -webkit-transition: all .3s ease-in-out;
                        transition: all .3s ease-in-out;
                        background: rgb(0, 0, 0);
                    }

                    &.active {
                        .bar:nth-child(2) {
                            opacity: 0;
                        }

                        .bar:nth-child(1) {
                            transform: translateY(8px) rotate(45deg);
                        }

                        .bar:nth-child(3) {
                            transform: translateY(-8px) rotate(-45deg);
                        }
                    }
                }
            }

        }
    }

    nav.sticky {
        top: 0;
    }
}

main {
    .experiance {
        background-image: url(../img/experiance__bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-top: 100px;
        padding-top: 300px;
        padding-bottom: 200px;
        height: 100%;

        @media (max-width: 489px) {
            padding-top: 200px;
        }

        &__content {
            @media (max-width: 1041px) {
                margin-left: 20px;
                margin-right: 20px;
            }

            .experiance__block {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;


                h2 {
                    color: white;
                    font-family: Popp;
                    font-size: 40px;
                    font-weight: 500;
                    width: 1000px;

                    span {
                        color: $main-color;
                        text-transform: uppercase;
                    }

                    @media (max-width: 1041px) {
                        width: 100%;
                    }

                    @media (max-width: 557px) {
                        font-size: 30px;
                    }

                    @media (max-width: 438px) {
                        font-size: 25px;
                    }
                }

                .experiance__btn {
                    button {
                        width: 190px;
                        height: 60px;
                        color: white;
                        font-size: 20px;
                        border-radius: 10px;
                        background: $main-color;
                        border: none;
                        cursor: pointer;
                        margin-top: 20px;

                        &:hover {
                            i {
                                transform: translateX(10px);
                            }
                        }

                        @media (max-width: 489px) {
                            width: 150px;
                        }
                    }

                }
            }

            .swiper {
                width: 100%;
                height: 100%;


                .swiper-slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .swiper-slide img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }




        }
    }

    .activities {
        padding-top: 100px;
        background: #F2F2F2;

        h2 {
            color: black;
            font-family: Popp;
            font-size: 50px;
            font-weight: 700;
            text-align: center;

            @media (max-width: 382px) {
                font-size: 30px;
            }
        }

        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;

            @media (max-width: 1426px) {
                margin-right: 20px;
                margin-left: 20px;
            }

            @media (max-width: 1112px) {
                flex-direction: column;
            }

            @media (max-width: 382px) {
                margin-top: 30px;
            }

            .activities__block {
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media (max-width: 1112px) {
                    margin-top: 30px;
                }

                @media (max-width: 542px) {
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                }

                .activities__img {
                    width: 180px;
                    height: 250px;
                    margin-right: 40px;

                    @media (max-width: 542px) {
                        margin-right: 0;
                    }
                }

                .activities__info {
                    @media (max-width: 542px) {
                        margin-top: 30px;
                    }

                    h3 {
                        color: #22343D;
                        font-size: 25px;
                        font-weight: 500;
                        font-family: 'Popp';

                        @media (max-width: 586px) {
                            font-size: 20px;
                        }
                    }

                    p {
                        color: #22343D;
                        font-size: 20px;
                        font-weight: 400;
                        font-family: Popp;
                        margin-top: 10px;

                        @media (max-width: 586px) {
                            font-size: 18px;
                        }
                    }
                }
            }
        }

    }

    .blog {
        margin-top: 100px;
        margin-bottom: 30px;

        @media (max-width: 1418px) {
            margin-left: 20px;
            margin-right: 20px;
        }

        &__content {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 60px;

            @media (max-width: 1022px) {
                flex-direction: column;
            }

            h2 {
                color: $main-color;
                font-size: 25px;
                font-weight: 700;
                font-family: Popp;
                margin-right: 40px;

                @media (max-width: 1022px) {
                    margin-right: 0;
                }
            }

            a {
                text-decoration: none;

                .blog__block {
                    width: 340px;
                    height: 400px;
                    background: white;
                    box-shadow: 0px 0px 20px 2px #00000033;

                    @media (max-width: 374px) {
                        width: 270px;
                        height: 400px;
                    }

                    .blog__img {
                        width: 340px;
                        height: 250px;
                        border-radius: 10px;

                        @media (max-width: 374px) {
                            width: 270px;
                        }
                    }

                    .blog__info {
                        padding: 30px;

                        @media (max-width: 374px) {
                            padding: 20px;
                        }

                        p {
                            color: #22343D;
                            font-family: Popp;
                            font-size: 20px;
                            font-weight: 500;
                        }
                    }
                }
            }


        }

        .blog__btn {
            text-decoration: none;
            display: flex;
            justify-content: end;
            align-items: center;
            margin-top: 30px;

            @media (max-width: 1022px) {
                justify-content: center;
            }

            button {
                width: 220px;
                height: 60px;
                background: $main-color;
                border: none;
                border-radius: 10px;
                color: white;
                font-family: Popp;
                font-size: 20px;
                font-weight: 400;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                cursor: pointer;


                &:hover {
                    i {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    .team {
        position: relative;
        height: 100%;
        padding-top: 100px;
        background: #F2F2F2;

        h2 {
            color: $main-color;
            font-family: Popp;
            font-size: 50px;
            font-weight: 700;
            text-align: center;

            @media (max-width: 400px) {
                font-size: 35px;
            }
        }

        &__content {
            margin-top: 50px;

            .team__block {
                width: 260px;
                height: 250px;
                background: white;
                box-shadow: 0px -1px 10px 2px #0000001A;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 20px;
                margin-top: 30px;

                .team__box {
                    position: absolute;
                    top: -70px;

                    .team__img {
                        width: 130px;
                        height: 130px;
                        border-radius: 50%;
                        border: 2px solid white;
                    }
                }

                h3 {
                    color: #22343D;
                    font-family: Popp;
                    font-size: 20px;
                    font-weight: 700;
                    margin-top: 50px;
                    margin-bottom: 20px;
                }

                h4 {
                    color: $main-color;
                    font-family: Popp;
                    font-size: 20px;
                    font-weight: 400;
                }

                .team__icons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 30px;

                    a {
                        text-decoration: none;

                        i {
                            font-size: 30px;
                            color: black;
                            margin-left: 40px;
                            transition: all .2s linear;

                            &:hover{
                                cursor: pointer;
                                font-size: 35px;
                                color: $main-color;
                            }
                        }

                        .team__icon {
                            margin-left: 0;
                        }
                    }
                }

                .team__btn{
                    width: 150px;
                    height: 40px;
                    background: $main-color;
                    color: white;
                    border: none;
                    border-radius: 10px;
                    margin-top: 30px;
                    font-size: 18px;
                    transition: all .2s linear;

                    &:hover{
                        background: white;
                        color: $main-color;
                        border: 2px solid $main-color;
                        cursor: pointer;
                        box-shadow: 0px 0px 10px $main-color;
                    }
                }
            }
        }



        .swiper {
            width: 100%;
            height: 400px;
        }

        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            object-fit: cover;
        }
    }

    .gallery {
        position: relative;
        height: 100%;
        margin-bottom: 30px;

        @media (max-width: 1420px) {
            margin-left: 20px;
            margin-right: 20px;
        }

        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 100px;

            @media (max-width: 944px) {
                flex-direction: column;
                justify-content: center;
            }

            h2 {
                color: $main-color;
                font-family: Popp;
                font-size: 40px;
                font-weight: 700;

                @media (max-width: 522px) {
                    margin-bottom: 20px;
                }
            }

            .gallery__block {
                width: 320px;
                height: 300px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                &:hover {
                    cursor: pointer;
                    opacity: .7;
                    transition: all .3s linear;

                    i {
                        display: block;
                        transition: .2s linear;
                    }


                }

                .gallery__img {
                    width: 320px;
                    height: 300px;
                    border-radius: 10px;

                    @media (max-width: 378px) {
                        width: 280px;
                        height: 260px;
                    }

                }

                i {
                    color: rgb(0, 0, 0);
                    font-size: 30px;
                    position: absolute;
                    display: none;
                    cursor: pointer;
                }
            }

            .swiper {
                width: 100%;
                height: 500px;

                .swiper-slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .swiper-slide img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .toZoom {
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s;
                width: 80%;
            }

            .toZoom:hover {
                opacity: 0.7;
            }


            /* Modal Content (image) */

            @keyframes zoom {
                from {
                    transform: scale(0.1)
                }

                to {
                    transform: scale(1)
                }
            }

            /* The Close Button */
            .idMyModal {
                display: none;
                position: fixed;
                z-index: 9999;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                background-color: rgba(0,0,0,0.9);
              }
            
              .modal-content {
                margin: auto;
                display: block;
                width: 100%;
                height: 500px;
                margin-top: 180px;
                object-fit: contain;
                margin-bottom: 100px;
              }
            
              .close {
                color: rgb(255, 254, 254);
                position: absolute;
                top: 15px;
                right: 15px;
                font-size: 70px;
                font-weight: bold;
                cursor: pointer;
              }

            /* 100% Image Width on Smaller Screens */
            @media only screen and (max-width: 566px) {
                .modal-content {
                    width: 95%;
                    height: auto;
                }
            }


        }

        .blog__btn {
            text-decoration: none;
            display: flex;
            justify-content: end;
            align-items: center;
            margin-top: 30px;

            @media (max-width: 1022px) {
                justify-content: center;
            }

            button {
                width: 220px;
                height: 60px;
                background: $main-color;
                border: none;
                border-radius: 10px;
                color: white;
                font-family: Popp;
                font-size: 20px;
                font-weight: 400;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                cursor: pointer;


                &:hover {
                    i {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    .interest {
        background-image: url(../img/interest__bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 200px;
        padding-bottom: 200px;

        h2 {
            color: white;
            font-family: Popp;
            font-size: 30px;
            font-weight: 500;
            text-align: center;

            @media (max-width: 1420px) {
                margin-left: 20px;
                margin-right: 20px;
            }

            span {
                color: $main-color;
            }

            @media (max-width: 456px) {
                font-size: 25px;
            }
        }

        &__content {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;

            .interest__info {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                input {
                    width: 900px;
                    height: 80px;
                    border-radius: 30px;
                    padding-left: 10px;
                    background: none;
                    color: white;
                    font-size: 20px;

                    &::placeholder {
                        font-size: 20px;
                        color: white;

                        @media (max-width: 536px) {
                            font-size: 16px;
                        }
                    }

                    @media (max-width: 912px) {
                        width: 500px;
                    }

                    @media (max-width: 536px) {
                        width: 400px;
                    }

                    @media (max-width: 412px) {
                        width: 310px;
                        padding-right: 100px;
                    }
                }

                a {
                    button {
                        width: 100px;
                        height: 80px;
                        border-radius: 0 30px 30px 0;
                        background: $main-color;
                        border: none;
                        cursor: pointer;
                        position: absolute;
                        top: 0;
                        right: 0;

                        i {
                            color: white;
                            font-size: 35px;
                        }

                        @media (max-width: 412px) {
                            width: 80px;
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }

    .mission {
        margin-top: 200px;

        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 1423px) {
                margin-left: 20px;
                margin-right: 20px;
            }

            @media (max-width: 1311px) {
                flex-direction: column;
                justify-content: center;
            }

            .mission__block {
                width: 500px;
                height: 425px;
                background: $main-color;
                display: flex;
                justify-content: center;
                align-items: center;

                @media (max-width: 529px) {
                    width: 300px;
                    height: 250px;
                }

                h2 {
                    color: white;
                    font-family: Popp;
                    font-size: 50px;
                    font-weight: 700;

                    @media (max-width: 529px) {
                        font-size: 40px;
                    }
                }
            }

            .mission__info {
                p {
                    color: black;
                    font-family: Popp;
                    font-size: 20px;
                    font-weight: 600;


                    @media (max-width: 1311px) {
                        margin-top: 50px;
                        margin-bottom: 40px;
                    }
                }
            }
        }
    }

    .founder {
        margin-top: 200px;
        margin-bottom: 30px;

        @media (max-width: 999px) {
            margin-left: 20px;
            margin-right: 20px;
        }

        &__content {
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 999px) {
                justify-content: space-between;
            }

            @media (max-width: 849px) {
                flex-direction: column;
            }

            .founder__img {
                width: 500px;
                height: 500px;
                margin-right: 200px;

                @media (max-width: 999px) {
                    margin-right: 0;
                }

                @media (max-width: 535px) {
                    width: 300px;
                    height: 300px;
                }
            }

            .founder__info {
                display: flex;
                justify-content: start;
                align-items: center;
                flex-direction: column;

                @media (max-width: 849px) {
                    justify-content: center;
                    margin-top: 50px;
                }

                h3 {
                    color: $main-color;
                    font-family: Popp;
                    font-size: 40px;
                    font-weight: 700;
                    text-transform: uppercase;

                    @media (max-width: 385px) {
                        font-size: 30px;
                    }
                }

                h4 {
                    color: black;
                    font-family: Popp;
                    font-size: 30px;
                    font-weight: 500;

                    @media (max-width: 385px) {
                        font-size: 25px;
                    }
                }

                p {
                    color: black;
                    font-family: Popp;
                    font-size: 20px;
                    font-weight: 400;
                    margin-top: 40px;
                    margin-bottom: 40px;

                    @media (max-width: 385px) {
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }

                .founder__icons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 40px;

                    a {
                        text-decoration: none;

                        i {
                            color: black;
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }

    .teachers {

        background: #F2F2F2;
        padding-bottom: 50px;
        padding-top: 100px;

        h2 {
            color: $main-color;
            font-family: Popp;
            font-size: 40px;
            font-weight: 700;
            text-align: center;

            @media (max-width: 380px) {
                font-size: 30px;
            }
        }

        &__content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 50px;
            place-items: center;
            margin-top: 100px;
            margin-right: 20px;
            margin-left: 20px;



        

            .team__block {
                width: 260px;
                height: 300px;
                background: white;
                box-shadow: 0px -1px 10px 2px #0000001A;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 20px;
                margin-top: 30px;

                .team__box {
                    position: absolute;
                    top: -70px;

                    .team__img {
                        width: 130px;
                        height: 130px;
                        border-radius: 50%;
                        border: 2px solid white;
                    }
                }

                h3 {
                    color: #22343D;
                    font-family: Popp;
                    font-size: 20px;
                    font-weight: 700;
                    margin-top: 50px;
                    margin-bottom: 20px;
                }

                h4 {
                    color: $main-color;
                    font-family: Popp;
                    font-size: 20px;
                    font-weight: 400;
                }

                .team__icons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 30px;

                    a {
                        text-decoration: none;

                        i {
                            font-size: 30px;
                            color: black;
                            margin-left: 40px;
                            transition: all .2s linear;

                            &:hover{
                                cursor: pointer;
                                font-size: 35px;
                                color: $main-color;
                            }
                        }

                        .team__icon {
                            margin-left: 0;
                        }
                    }
                }

                .team__btn{
                    width: 150px;
                    height: 40px;
                    background: $main-color;
                    color: white;
                    border: none;
                    border-radius: 10px;
                    margin-top: 30px;
                    font-size: 18px;
                    transition: all .2s linear;

                    &:hover{
                        background: white;
                        color: $main-color;
                        border: 2px solid $main-color;
                        cursor: pointer;
                        box-shadow: 0px 0px 10px $main-color;
                    }
                }
            }
        }
    }

    .session {
        margin-top: 200px;
        margin-bottom: 100px;

        @media (max-width:1425px) {
            margin-left: 20px;
            margin-right: 20px;
        }

        &__content {
            display: flex;
            justify-content: center;
            align-items: center;

            .session__block {
                position: relative;

                .session__bg {
                    width: 1000px;
                    height: 600px;

                    @media (max-width: 1074px) {
                        width: 100%;
                        height: auto;
                    }
                }

                .session__info {
                    background: #00000080;
                    backdrop-filter: blur(20px);
                    position: absolute;
                    bottom: 5px;

                    h3 {
                        color: white;
                        font-family: Popp;
                        font-size: 30px;
                        font-weight: 700;

                        @media (max-width: 650px) {
                            font-size: 25px;
                        }

                        @media (max-width: 500px) {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    .news {
        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 1426px) {
                margin-right: 20px;
                margin-left: 20px;
            }

            @media (max-width: 1242px) {
                flex-direction: column;
            }

            h2 {
                color: $main-color;
                font-family: Popp;
                font-size: 40px;
                font-weight: 700;
                text-align: center;
                margin-bottom: 50px;

                @media (max-width: 380px) {
                    font-size: 30px;
                }
            }

            .news__box {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 40px;

                a {
                    text-decoration: none;

                    .blog__block {
                        width: 340px;
                        height: 400px;
                        background: white;
                        box-shadow: 0px 0px 20px 2px #00000033;

                        @media (max-width: 374px) {
                            width: 270px;
                            height: 400px;
                        }

                        .blog__img {
                            width: 340px;
                            height: 250px;
                            border-radius: 10px;

                            @media (max-width: 374px) {
                                width: 270px;
                            }
                        }

                        .blog__info {
                            padding: 30px;

                            @media (max-width: 374px) {
                                padding: 20px;
                            }

                            p {
                                color: #22343D;
                                font-family: Popp;
                                font-size: 20px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }

        .tab {
            display: none;
            /* Скрываем все вкладки по умолчанию */
        }

        .tab.active {
            display: block;
            /* Показываем активную вкладку */
        }



        .tabs {
            margin-top: 30px;
            margin-bottom: 30px;

            @media (max-width: 1420px) {
                margin-left: 20px;
                margin-right: 20px;
            }

            .tab-button {
                cursor: pointer;
                width: 50px;
                height: 50px;
                background: white;
                border: 1px solid $main-color;
                color: $main-color;
                font-size: 20px;

                &:hover {
                    background: $main-color;
                    color: white;
                    transition: .2s linear;
                }
            }
        }
    }

    .contact {
        margin-top: 250px;
        margin-bottom: 50px;

        h2 {
            color: $main-color;
            font-family: Popp;
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 30px;

            @media (max-width: 1414px) {
                margin-left: 20px;
                margin-right: 20px;
            }
        }

        &__content {
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 1414px) {
                margin-left: 20px;
                margin-right: 20px;
            }

            .contact__box {
                width: 1050px;
                height: 540px;
                background: white;
                box-shadow: 0px 0px 10px 0px #0000001A;
                padding: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media (max-width: 1116px) {
                    width: 100%;
                    height: 100%;
                    justify-content: center;
                    flex-direction: column;
                    box-shadow: none;
                }

                .contact__info {
                    h3 {
                        color: black;
                        font-family: Popp;
                        font-size: 35px;
                        font-weight: 700;

                        @media (max-width: 400px) {
                            font-size: 30px;
                        }
                    }

                    p {
                        color: black;
                        font-size: 20px;
                        font-weight: 500;
                        font-family: Popp;
                    }


                    .contact__block {
                        display: flex;
                        justify-content: start;
                        align-items: flex-start;
                        flex-direction: column;
                        margin-top: 40px;

                        .contact__info-box {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 20px;

                            i {
                                color: $main-color;
                                font-size: 30px;
                                margin-right: 40px;
                            }

                            h4 {
                                color: black;
                                font-size: 20px;
                                font-weight: 500;
                                font-family: Popp;

                                @media (max-width: 400px) {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }

                .contact__registrate {

                    @media (max-width: 1116px) {
                        margin-top: 50px;
                    }

                    form {
                        width: 480px;
                        height: 480px;
                        background: $main-color;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        flex-direction: column;
                        border-radius: 10px;

                        @media (max-width: 510px) {
                            width: 100%;
                            padding: 20px;
                        }

                        .contact__input {
                            display: flex;
                            justify-content: start;
                            align-items: start;
                            flex-direction: column;

                            label {
                                color: rgb(255, 255, 255);
                                font-family: Popp;
                                font-size: 20px;
                                font-weight: 500;
                            }

                            input {
                                width: 420px;
                                height: 60px;
                                background: white;
                                border-radius: 10px;
                                border: none;
                                outline: none;
                                padding-left: 20px;

                                &::placeholder {
                                    font-size: 16px;
                                }

                                @media (max-width: 510px) {
                                    width: 260px;
                                }
                            }

                        }

                        .contact__btn {
                            button {
                                width: 200px;
                                height: 60px;
                                background: $main-color;
                                border: 2px solid white;
                                color: white;
                                border-radius: 5px;
                                cursor: pointer;
                                font-size: 18px;

                                &:hover {
                                    background: white;
                                    color: $main-color;
                                    border: $main-color;
                                    transition: .2s linear;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}

footer {
    padding-top: 50px;

    .footer__content {
        display: flex;
        justify-content: space-between;
        align-items: start;

        @media (max-width: 1424px) {
            margin-left: 20px;
            margin-right: 20px;
        }

        @media (max-width: 1264px) {
            flex-wrap: wrap;
            gap: 30px;
        }

        .footer__location {
            h3 {
                color: $main-color;
                font-family: Popp;
                font-size: 30px;
                font-weight: 700;
                margin-bottom: 30px;

                @media (max-width: 400px) {
                    font-size: 30px;
                }
            }

            iframe {
                width: 350px;
                height: 450px;

                @media (max-width: 400px) {
                    width: 280px;
                    height: 400px;
                }
            }
        }

        .footer__links {
            h3 {
                color: $main-color;
                font-family: Popp;
                font-size: 35px;
                font-weight: 700;

                @media (max-width: 400px) {
                    font-size: 30px;
                }
            }

            ul {
                li {
                    list-style: none;
                    margin-top: 10px;

                    a {
                        text-decoration: none;
                        color: black;
                        font-family: Popp;
                        font-size: 20px;
                        font-weight: 400;
                    }
                }
            }
        }

        .footer__find {
            h3 {
                color: $main-color;
                font-family: Popp;
                font-size: 35px;
                font-weight: 700;

                @media (max-width: 400px) {
                    font-size: 30px;
                }
            }

            p {
                color: black;
                font-family: Popp;
                font-size: 18px;
                font-weight: 400;
                margin-top: 20px;

                i {
                    font-size: 25px;
                    margin-right: 20px;
                }
            }

            a {
                text-decoration: none;
                color: black;
                font-family: Popp;
                font-size: 20px;
                font-weight: 500;

                i {
                    font-size: 25px;
                    margin-right: 20px;
                }
            }

            .footer__find-gmail {
                margin-top: 20px;
                list-style: none;
            }

            .find__phone {
                display: flex;
                justify-content: start;
                align-items: flex-start;
                margin-top: 20px;

                i {
                    font-size: 30px;
                    margin-right: 30px;
                }

                &-number {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
            }
        }

        .footer__social {
            h3 {
                color: $main-color;
                font-family: Popp;
                font-size: 35px;
                font-weight: 700;

                @media (max-width: 400px) {
                    font-size: 30px;
                }
            }

            ul {
                li {
                    list-style: none;
                    margin-top: 10px;

                    a {
                        color: black;
                        font-family: Popp;
                        font-size: 20px;
                        font-weight: 400;
                        text-decoration: none;

                        i {
                            font-size: 25px;
                            margin-right: 30px;
                        }
                    }
                }
            }
        }
    }
}